<div class="container">
    <h1 class="text-center" >Welcome to Quotes</h1>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <app-quote-form (addQuote)='addNewQuote($event)'></app-quote-form>
        </div>
        <div class="col-md-1"></div>
        <div class="overlay">
            <h2 class="text-white text-center">Some famous quotes:</h2>
            <div *ngFor='let quote of quotes;let i = index'>
                <div class="card-header">
                <h5 class="text-white">Quote</h5>
                <h5 class="text-white">{{quote.name}}<br></h5>
                <button (click)='seeDetails(i)' class="btn btn-outline-primary btn-sm" id="scndbutton">Show Details</button>
                
                <app-quote-details *ngIf='quote.seeDetails' bind-quote = 'quote' (isDelete)='deleteQuote($event,i)'>
                </app-quote-details>
            </div>
            </div>
        </div>
    </div>
</div>