h1{
    font-family: 'Allerta Stencil', sans-serif;
}
h2{
    text-decoration: underline;
}
#btn1{
    margin-left: 5%;
}
#scndbutton{
    padding: 2%;
}
.overlay{
        background-color: rgb(0,0,0,0.5);
        opacity: 0.9;
        border-radius: 10px;
}