/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.landing-page{
    background-image: url('https://wallpaperplay.com/walls/full/0/c/4/13637.jpg#.XVlJ7qHYLVo.link');
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed; 
}